<!DOCTYPE html>
<html>
<head>
	<title>FACULTAD</title>
</head>
<body>
	
<form method="POST" action="">{% csrf_token %}
{{ el_formulario_facu.as_p }}
<input type = "submit" value = "Guardar">
</form>
</body>


</html>