<!DOCTYPE html>
<html>
<head>
	<title>ASIGNATURA</title>
</head>
<body>
	
	<form method="POST" action=""> {% csrf_token %}
	{{ el_formulario_asignatura.as_p }}
<input type = "submit" value = "Guardar">
</form>
</body>


</html>